  *{
	padding: 0;
	margin: 0;
	 font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body{
	background: #1d1f2c;
	overflow-x: hidden;
}

span{
	color: #fa6c41;
	font-weight: bold;
}

/*NAVBAR*/

nav{
	background: #1d1f2c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;

}
 
nav h2 > a{
	margin-left: 0px;
	font-size: 2.4em;
	font-weight: bold;
	color: lightblue;
	position: relative;
	text-decoration: none;
	letter-spacing: 2px;
	/*-webkit-box-reflect: below 1px linear-gradient(transparent,#0004);*/
	animation: animate 0.2s linear infinite;
}
@keyframes animate{
	0%{
		color: color: #0e3724;
		text-shadow: none;
	}
	100%{
		color: #fff;
		text-shadow: 0px 0px 10px #fff,
		0px 0px 20px #fff;
		 
	}
}
nav > ul{
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	gap: 40px;
 	
}
nav li{
	font-weight: bold;
	 color: white;
	list-style-type: none;
	font-size: 1.1em;
}
nav li > a{
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
}
nav li > a:hover{
	background: #fff;
	color: #fa6c41;
	border-radius: 5px;
	padding: 4px;
}
/*HEADER SECTION*/

header > section:nth-of-type(1) > div{
	background: #0E1016;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
}
header > section > div > div > h2:nth-of-type(1){
	padding: 30px 0px 2px;
	font-size: 4em;
	color: #fff;

}
header > section > div > div > h2{
	padding: 2px 0px;
}
header > section > div > div > h2 > span{
	font-size: 2em;
}
header > section > div > div > p {
	width: 500px;
	color: #fff;
	line-height: 2em;
	/*padding-bottom: 30px;*/
	font-size: 1.3em;
	text-align: left;
}
header > section > div > div > div{
	display: flex;
	gap: 30px;
	padding-bottom: 100px;
	cursor: pointer;
}
header > section:nth-of-type(1) > div > div > div > a {
	color: #fff;
  	text-decoration: none;
	border-radius: 10px;
	border:#fa6c41 2px solid ;
	text-align: center;
	width: 100px;
	height: 35px;
	padding-top: 5px;
	transition: 0.2s;

}
header > section:nth-of-type(1) > div > div > div > a:hover{
	background: #fff;
	color: #fa6c41;
	font-size: 1em;
}
header > section > div > div > div > p{
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
header > section > div > div > div > p > img {
	width: 30px;
	height: 30px;
	filter:invert(100%) sepia(98%) saturate(0%) hue-rotate(345deg) brightness(103%) contrast(102%) ;
}
.coder{
	width: 300px;
	height:300px ;
	filter:invert(1);  
	/*justify-self: flex-end;*/
}
header > section >div > div+div {
	justify-self: end;
}
header > section > div > div > h3{
	font-size: 1.4em;
	color: #fff;
	letter-spacing: 0.2em;
}
/*MAIN-SECTION 1*/

main > section:nth-of-type(1){
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 100px 100px 0px;
	 background: #1d1f2c ;
	 color: #fff;
}
main > section:nth-of-type(1) > div{
	margin-bottom: 150px;
}
 main > section:nth-of-type(1) > div > h4{
 	font-weight: bold;
 	color
 }
 main  > section:nth-of-type(1) > div > h2{
 	font-size: 1.6em;
 	padding: 10px 0px;
 	 line-height: 1.5em;
 }
main  > section:nth-of-type(1) > div > p{
	line-height: 3em;
	margin-top: 20px;
	padding: 20px 0px;
	 text-align: left;
	 max-width: 600px;
}
 main > section:nth-of-type(1) > div > h3{
 	font-family: ;
 	padding: 20px 0px;
 }
  main > section:nth-of-type(1) > div > a{
  	 color: #fff;
  	text-decoration: none;
	border-radius: 8px;
	border:#fa6c41 2px solid ;
	padding: 5px 10px;
	transition: 0.2s;

  }
  main > section:nth-of-type(1) > div > a:hover{
  	background: #fff;
  	color: #fa6c44;
  }
  main > section > div > a:nth-of-type(1){
  	background:radial-gradient(#fd4759, #fa6c44) ;
  	margin-right: 10px;
  }
   .main-picture{
   	width: 380px;
   	height: 380px;
   	background: #fd4759;
   	border: 15px solid #fd4759;
    position: relative;
    align-self: end;
    z-index: 2;
   }
   .main-picture > img{
   	width: 380px;
   	height: 400px;
   	position: absolute;
   	top: -60px;
   	left: -35px;
   	 z-index: 2;
   }
    
   
  /*MAIN-SECTION 2*/

  main > section:nth-of-type(2){
  	background: #0E1016 ;
  	padding: 50px 20px;
  }
  main >section:nth-of-type(2) > div{
  	display: flex;
  	flex-wrap: wrap;
		align-items: center;
		justify-items: space-between;
		gap: 30px;
		color: #fff;
		padding: 0px 10px;
	
  }
 main >section:nth-of-type(2) > div > div{
 		display: flex;
 		flex-direction: column;
 		flex: 1;
 		align-items: center;
 		justify-content: center;
 		width: 350px;
 	 	padding: 10px 0px;
 		gap: 5px;
 		transition: 0.5s;
 } 
 main >section:nth-of-type(2) > div > div:hover{
 		border: 3px  #FB604A  solid;
 		box-shadow: 0px 0px 8px #fff;
 }
  main > section:nth-of-type(2) > h2{
  	text-align: center;
  	font-size: 2.5em;
  	color: #fff;
  	padding: 25px 0px;
  }
  main > section:nth-of-type(2) > p{
  	text-align: center;
  	color: #fff;
  	padding: 25px 0px 40px;
  	font-size: 1.2em;
  }
  main > section:nth-of-type(2) > div img{
  	align-self: center;
  	width: 100px;
  	height: 100px;
  	 filter:invert(100%) sepia(98%) saturate(0%) hue-rotate(345deg) brightness(103%) contrast(102%) ;
  }
 main > section:nth-of-type(2) > div p{
 		width: 300px;
	 	font-size: 15px;
 		text-align: center;
 		line-height: 1.5em;
 }
 /*MAIN-SECTION 3*/
 main >section:nth-of-type(3){
	 	background: #1d1f2c;
	 	color: #fff;
	 	padding: 50px 20px;	
 }
 main > section:nth-of-type(3) > h2{
 		text-align: center;
 }
 main > section:nth-of-type(3) > p{
 		text-align: center;
 }
 main > section:nth-of-type(3) > h2{
 		font-size: 2.5em;
  	color: #fff;
  	padding: 25px 0px;
 }
 main > section:nth-of-type(3) > p{
 		color: #fff;
  	padding: 25px 0px;
  	font-size: 1.3em;
 }
 main > section:nth-of-type(3) > div > ul{
	 	display: flex;
	 	flex-wrap: wrap;
	 	justify-content: center;
	 	align-items: center;
	 	gap: 20px;
	 	padding: 20px 0px;
 }
  main > section:nth-of-type(3) > div > ul > li{
  	list-style-type: none;
  	font-size: 1.2em;
  	font-weight: bold;
  }
  main > section:nth-of-type(3) > div+div{
  	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
  	padding: 50px 10px;
  	gap: 30px;

  }
  main > section:nth-of-type(3) > div+div > img{
  	width: 150px;
  	height: 150px;
  }

  /*MAIN-SECTION 4*/

  main > section:nth-of-type(4){
  	background: linear-gradient(#fd4759,#FA6C46);
  	padding: 20px 0px;
  }

  main > section:nth-of-type(4) > div{
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  	color: #fff;
  	padding: 0px 40px;
  }
 main > section:nth-of-type(4) > div > h4 > span{
	 	color: #fff;
	 	font-size: 1.3em;
 } 
  main > section:nth-of-type(4) > div > a{
  	padding:  5px 10px;
  	background: #fff;
  	text-decoration: none;
  	color: #fd4759;
  	font-weight: bold;
  	border-radius: 5px;
  }

  /*MAIN-SECTION 5*/

main > section:nth-of-type(5){
	  background: #0E1016 ;
		padding: 20px 50px;
		color: #fff;
}
main > section:nth-of-type(5) > div > h2{
		text-align: center;
}
main > section:nth-of-type(5) > div > p{
		text-align: center;
}
main > section:nth-of-type(5) > div:nth-of-type(2) > div > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

}
main > section:nth-of-type(5) > div:nth-of-type(2) > div{
		display: flex;
		align-items: center;
		justify-content: start;
	 gap: 50px;
	 padding: 10px 30px 20px ;
}
main > section:nth-of-type(5) > div:nth-of-type(2) > div:nth-of-type(2){
		flex-direction:row-reverse;
		justify-content: end;
}
 
main > section:nth-of-type(5) > div:nth-of-type(2) > div > div > img{
		width: 100px;
		height: 100px;
		border-radius: 5px;
		border: 3px solid #FB604A;
}
main > section:nth-of-type(5) > div:nth-of-type(2) > div > div:nth-of-type(2){
		max-width: 400px;
		background:#E7E5E0 ;
		color: #0E1016;
		border-radius: 4px;	 
		padding: 3px;
		max-height: 250px;
		text-align: center;
		font-size: 12px;
}
main > section:nth-of-type(5) > div:nth-of-type(2) > div > div:nth-of-type(2) > span{
		font-size: 1.8em;
}
main > section:nth-of-type(5) > div:nth-of-type(2) > div > div:nth-of-type(1) > div:nth-of-type(1){
		color: chocolate;
}
main > section:nth-of-type(5) > div:nth-of-type(2) > div > div:nth-of-type(1) > div:nth-of-type(2){
		font-size: 12px;
}
 
main > section:nth-of-type(5) > div:nth-of-type(3){
			display: flex;
			justify-content: space-between;
			align-items: center;
			/*gap: 30px;*/
}
 
/*MAIN-SECTION 6*/

main > section:nth-of-type(6){
	background: #1d1f2c;
 	color: #fff;
 	padding: 50px 20px;
}
main > section:nth-of-type(6) > h2, p{
	text-align: center;
	/*padding: 30px 0px;*/
	margin-bottom: 20px;
} 
main > section:nth-of-type(6) > div{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-items: space-between;
	gap: 30px;
	padding: 0px 10px;
}
main > section:nth-of-type(6) > div > div{
	display: flex;
	flex: 1;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	width: 350px;
 	 padding: 30px 0px;
 	 gap: 20px;
 	 transition: 0.5s;
}
main > section:nth-of-type(6) > div > div:hover{
	border: 2px  #FB604A solid;
	box-shadow: 0px 0px 8px #fff;
	margin-left: 100px;
}
main > section:nth-of-type(6) > div > div > p{
	width: 250px;
}
 

 /*FOOTER*/

 footer{
 	background:#0E1016  ;
 	color: #fff;
 }
footer > div > div:nth-of-type(2){
	font-size: 10px;
}
 footer > div:nth-of-type(1){
 	text-align: center;
 	font-size: 14px;
 	padding: 20px 0px;
 }
 footer > div:nth-of-type(2){
 	display: flex;
 	align-items: center;
 	justify-content: space-evenly;
 }
 footer > div:nth-of-type(2) > div > span{
 	color: #fff;
 	font-size: 8px;
 	font-family: arial;
 	font-weight: lighter;
 	line-height: 2em;
 	text-align: center;
 }
 footer > div > div{
 	height: 100%;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	padding: 10px 0px;
 }
  footer > div > div > div > img{
  	width: 15px;
  	height: 15px;
  	filter: invert(48%) sepia(29%) saturate(1285%) hue-rotate(320deg) brightness(100%) contrast(98%);
  	position: absolute;
  	top: 4px;
  	left: 5px;
  }
   footer > div > div > div{
   	position: relative;
   	width: 30px;
   	height: 30px;
   	border-radius: 50%;
   	border: 2px solid #FB604A;
   	transition: 0.3s;
   }
   footer > div > div > div:hover{
   	transform: translateY(-5px);
   	border: 3px solid #fff;
   }

@media screen and (max-width: 360px), (max-width: 414px), (max-width: 820px){
	body{
		/*overflow: hidden;*/
	}
	nav ul{
		display: none;
	}
	 nav h2{
	 	font-size: 0.8em;
	 }
	header > section{
		padding: 0px 0px;
		
	}
	header > section > div > div > h2:nth-of-type(1){
		font-size: 1.7em;
	}
	 header > section > div > div > h2:nth-of-type(2){
	font-size: 0.5em;
	margin-bottom: 15px;
	}
	header > section:nth-of-type(1) > div{
		padding: 10px 20px;
	}
	header > section > div > div > p{
		font-size:1em;
		max-width: 200px;
		padding-bottom: 0px;
		margin-bottom: 20px;
	}

	header > section > div > div > div{
		flex-direction: column;
		align-items: start;
		justify-content: center;
		margin-top: 40px;
	}
	main > section:nth-of-type(1){
		padding: 20px 20px;

	}
	main  > section:nth-of-type(1) > div > h2{
	 line-height: 2em;
		margin-top: 40px;
	}
	main  > section:nth-of-type(1) > div > p{
		font-size: 1em;
		max-width: 400px;
		margin-top: -10px;
		margin-bottom: -30px;
		line-height: 1.3em;
	}
	
   .main-picture{
   	width: 310px;
   	height: 380px;
   	background: #fd4759;
   	border: 15px solid #fd4759;
    position: relative;
    align-self: end;
    z-index: 2;
    margin-left: 20px;
   }
   .main-picture > img{
   	width: 300px;
   	height: 400px;
   	position: absolute;
   	top: -50px;
   	left: -20px;
   	 z-index: 2;
   }
  
   main > section:nth-of-type(3) > div+div > img{
   	width: 200px;
   	height: 200px;
   }
   main > section:nth-of-type(3) > div+div > img {
   	width: 100px;
   	height: 100px;
   }

main > section:nth-of-type(5){
	padding: 20px 30px;
}
main > section:nth-of-type(5) > div:nth-of-type(2) > div{
	padding: 10px 0px 20px;
	gap: 10px;
}
  main > section:nth-of-type(5) > div:nth-of-type(2) > div > div:nth-of-type(2){
  	max-height: 200px;
  	width: 190px;
  	padding: 2px ;
  	border-radius: 8px;
  }
  main > section:nth-of-type(6) > div h3{
  	max-width: 200px;
  	text-align: center;
  }

}
@media only screen and (max-width: 320px), (max-width: 359px){
	  nav h2{
	 	font-size: 0.5em;
	 }
	 nav h2 > a{
	 	margin-left: -20px;
	 }
	 section:nth-of-type(1) > div > p{
	 	font-size: 0.8em;
	 }
	 .main-picture > img{
   	width: 270px;
   	height: 380px;
   	position: absolute;
   	top: -35px;
   	left: -40px;
   	z-index: 2;
   }
   main > section:nth-of-type(2) > h2 {
   	font-size: 2.3em;
   }
   main > section:nth-of-type(2) > p{
   	font-size: 1em;
   }
   main > section:nth-of-type(2) > div p{
   	font-size: 12px;
   	width: 200px;
   }
   main > section:nth-of-type(3) > h2{
   	font-size: 2em;
   }
   main > section:nth-of-type(3) > p{
   	font-size: 1em;
   }
   main > section:nth-of-type(3) > div > ul > li{
   	font-size: 1em;
   }
   main > section:nth-of-type(4) > div > h4 > span{
   	font-size: 1em;
   }
   main > section:nth-of-type(4) > div > a{
   	font-size: 11px;
   	padding: 3px;
   	border-radius: 3px;
   }
   main > section:nth-of-type(5) > div > p{
   	font-size: 13px;
   	margin-top: 20px;
   }
   main > section:nth-of-type(5) > div:nth-of-type(2) > div > div:nth-of-type(2){
   	font-size: 8px;
   }
   main > section:nth-of-type(6) > h2, p{
   	font-size:12px ;
   }
   footer > div > div{
   	font-size: 7px;
   	padding: 3px 0px;
   	line-height: 1em;
   }
    footer > div:nth-of-type(2) > div > span{
    	font-size: 5px;
    	text-align: center;
    }
    footer > div > div{
    	height: 100%;
    }

 }

